In [1]:
import pandas as pd
longest_case2010_female_adv_pet = (pd.read_csv("cases_2010.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [2]:
longest_case2010_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2010_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2010_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2010_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [7]:
longest_case2010_female_adv_pet.head()

    female_adv_pet duration
34               1 279 days
39               1  12 days
41               1 565 days
61               1  20 days
64               1   5 days

In [8]:
longest_case2010_female_adv_pet.shape

(199534, 2)

In [4]:
longest_case2010_female_adv_pet['duration'] = longest_case2010_female_adv_pet['date_of_decision_new'] - longest_case2010_female_adv_pet['date_of_filing_new']

In [6]:
longest_case2010_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [9]:
longest_case2010_female_adv_pet.dropna(inplace = True)

In [10]:
longest_case2010_female_adv_pet.shape

(155283, 2)

In [11]:
longest_case2011_female_adv_pet = (pd.read_csv("cases_2011.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [12]:
longest_case2011_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2011_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2011_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2011_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [17]:
longest_case2011_female_adv_pet.head()

    female_adv_pet  duration
16               1  285 days
38               1  460 days
81               1 1459 days
84               1  565 days
93               1  736 days

In [18]:
longest_case2011_female_adv_pet.shape

(238011, 2)

In [14]:
longest_case2011_female_adv_pet['duration'] = longest_case2011_female_adv_pet['date_of_decision_new'] - longest_case2011_female_adv_pet['date_of_filing_new']

In [16]:
longest_case2011_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [19]:
longest_case2011_female_adv_pet.dropna(inplace = True)

In [20]:
longest_case2011_female_adv_pet.shape

(189134, 2)

In [21]:
longest_case2012_female_adv_pet = (pd.read_csv("cases_2012.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [22]:
longest_case2012_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2012_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2012_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2012_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [23]:
longest_case2012_female_adv_pet['duration'] = longest_case2012_female_adv_pet['date_of_decision_new'] - longest_case2012_female_adv_pet['date_of_filing_new']

In [24]:
longest_case2012_female_adv_pet.shape

(315230, 6)

In [25]:
longest_case2012_female_adv_pet.head()

,female_adv_pet,date_of_filing,date_of_decision,date_of_filing_new,date_of_decision_new,duration
6,1,2012-01-04,2017-08-19,2012-01-04,2017-08-19,2054 days
8,1,2012-01-05,2012-01-12,2012-01-05,2012-01-12,7 days
26,1,2012-02-15,2013-02-07,2012-02-15,2013-02-07,358 days
30,1,2012-02-22,2015-12-28,2012-02-22,2015-12-28,1405 days
40,1,2012-03-19,2012-03-19,2012-03-19,2012-03-19,0 days

In [26]:
longest_case2012_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [27]:
longest_case2012_female_adv_pet.dropna(inplace = True)

In [28]:
longest_case2012_female_adv_pet.shape

(251689, 2)

In [29]:
frames1 = [longest_case2010_female_adv_pet, longest_case2011_female_adv_pet, longest_case2012_female_adv_pet]
result_df = pd.concat(frames1)
result_df.shape

(596106, 2)

In [30]:
longest_case2013_female_adv_pet = (pd.read_csv("cases_2013.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [31]:
longest_case2013_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2013_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2013_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2013_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [32]:
longest_case2013_female_adv_pet['duration'] = longest_case2013_female_adv_pet['date_of_decision_new'] - longest_case2013_female_adv_pet['date_of_filing_new']

In [33]:
longest_case2013_female_adv_pet.head()

,female_adv_pet,date_of_filing,date_of_decision,date_of_filing_new,date_of_decision_new,duration
0,1,2013-09-19,NaN,2013-09-19,NaT,NaT
19,1,2013-01-30,2015-02-02,2013-01-30,2015-02-02,733 days
46,1,2013-02-26,2014-10-14,2013-02-26,2014-10-14,595 days
56,1,2013-03-08,2015-09-22,2013-03-08,2015-09-22,928 days
64,1,2013-03-12,2015-09-21,2013-03-12,2015-09-21,923 days

In [34]:
longest_case2013_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [35]:
longest_case2013_female_adv_pet.head()

    female_adv_pet duration
0                1      NaT
19               1 733 days
46               1 595 days
56               1 928 days
64               1 923 days

In [36]:
longest_case2013_female_adv_pet.shape

(350513, 2)

In [37]:
longest_case2013_female_adv_pet.dropna(inplace = True)

In [38]:
longest_case2013_female_adv_pet.shape

(281036, 2)

In [39]:
longest_case2014_female_adv_pet = (pd.read_csv("cases_2014.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [40]:
longest_case2014_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2014_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2014_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2014_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [41]:
longest_case2014_female_adv_pet['duration'] = longest_case2014_female_adv_pet['date_of_decision_new'] - longest_case2014_female_adv_pet['date_of_filing_new']

In [42]:
longest_case2014_female_adv_pet.shape

(402160, 6)

In [46]:
longest_case2014_female_adv_pet.head()

    female_adv_pet  duration
1                1  586 days
6                1 1458 days
8                1  484 days
31               1  162 days
36               1 1833 days

In [45]:
longest_case2014_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [47]:
longest_case2014_female_adv_pet.dropna(inplace = True)

In [48]:
longest_case2014_female_adv_pet.shape

(313348, 2)

In [49]:
longest_case2015_female_adv_pet = (pd.read_csv("cases_2015.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [50]:
longest_case2015_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2015_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2015_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2015_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [51]:
longest_case2015_female_adv_pet['duration'] = longest_case2015_female_adv_pet['date_of_decision_new'] - longest_case2015_female_adv_pet['date_of_filing_new']

In [55]:
longest_case2015_female_adv_pet.head()

    female_adv_pet duration
1                1 699 days
7                1  50 days
42               1 631 days
43               1 739 days
48               1  42 days

In [54]:
longest_case2015_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [56]:
longest_case2015_female_adv_pet.shape

(470053, 2)

In [57]:
longest_case2015_female_adv_pet.dropna(inplace = True)

In [58]:
longest_case2015_female_adv_pet.shape

(350522, 2)

In [59]:
frames2 = [longest_case2013_female_adv_pet, longest_case2014_female_adv_pet, longest_case2015_female_adv_pet]
result_df1 = pd.concat(frames2)
result_df1.shape

(944906, 2)

In [60]:
longest_case2016_female_adv_pet = (pd.read_csv("cases_2016.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [61]:
longest_case2016_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2016_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2016_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2016_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [62]:
longest_case2016_female_adv_pet['duration'] = longest_case2016_female_adv_pet['date_of_decision_new'] - longest_case2016_female_adv_pet['date_of_filing_new']

In [65]:
longest_case2016_female_adv_pet.head()

    female_adv_pet duration
3                1 519 days
6                1 169 days
12               1      NaT
25               1  45 days
26               1 529 days

In [66]:
longest_case2016_female_adv_pet.shape

(468687, 2)

In [64]:
longest_case2016_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [67]:
longest_case2016_female_adv_pet.dropna(inplace = True)

In [68]:
longest_case2016_female_adv_pet.shape

(319028, 2)

In [69]:
longest_case2017_female_adv_pet = (pd.read_csv("cases_2017.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [70]:
longest_case2017_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2017_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2017_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2017_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [71]:
longest_case2017_female_adv_pet['duration'] = longest_case2017_female_adv_pet['date_of_decision_new'] - longest_case2017_female_adv_pet['date_of_filing_new']

In [72]:
longest_case2017_female_adv_pet.head()

,female_adv_pet,date_of_filing,date_of_decision,date_of_filing_new,date_of_decision_new,duration
1,1,2017-01-04,2017-02-27,2017-01-04,2017-02-27,54 days
3,1,2017-01-04,2017-02-14,2017-01-04,2017-02-14,41 days
8,1,2017-01-09,2017-01-24,2017-01-09,2017-01-24,15 days
15,1,2017-01-12,NaN,2017-01-12,NaT,NaT
16,1,2017-01-13,2017-03-31,2017-01-13,2017-03-31,77 days

In [81]:
longest_case2017_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [82]:
longest_case2017_female_adv_pet.shape

(300297, 2)

In [74]:
longest_case2017_female_adv_pet.dropna(inplace = True)

In [75]:
longest_case2017_female_adv_pet.shape

(300297, 6)

In [76]:
longest_case2018_female_adv_pet = (pd.read_csv("cases_2018.csv", usecols=["female_adv_pet","date_of_filing","date_of_decision"])[lambda x: x['female_adv_pet'] == 1])

In [77]:
longest_case2018_female_adv_pet['date_of_filing_new'] = pd.to_datetime(longest_case2018_female_adv_pet['date_of_filing'], format='%Y-%m-%d')
longest_case2018_female_adv_pet['date_of_decision_new'] = pd.to_datetime(longest_case2018_female_adv_pet['date_of_decision'], format='%Y-%m-%d', errors = 'coerce')

In [78]:
longest_case2018_female_adv_pet['duration'] = longest_case2018_female_adv_pet['date_of_decision_new'] - longest_case2018_female_adv_pet['date_of_filing_new']

In [79]:
longest_case2018_female_adv_pet.head()

,female_adv_pet,date_of_filing,date_of_decision,date_of_filing_new,date_of_decision_new,duration
4,1,2018-01-01,2018-01-09,2018-01-01,2018-01-09,8 days
7,1,2018-01-03,NaN,2018-01-03,NaT,NaT
13,1,2018-01-09,NaN,2018-01-09,NaT,NaT
28,1,2018-01-23,2018-03-06,2018-01-23,2018-03-06,42 days
29,1,2018-01-24,2018-03-16,2018-01-24,2018-03-16,51 days

In [80]:
longest_case2018_female_adv_pet.shape

(1135526, 6)

In [83]:
longest_case2018_female_adv_pet.drop(['date_of_filing','date_of_decision','date_of_filing_new','date_of_decision_new'] , axis=1, inplace = True)

In [84]:
longest_case2018_female_adv_pet.dropna(inplace = True)

In [85]:
longest_case2018_female_adv_pet.shape

(554453, 2)

In [86]:
frames3 = [longest_case2016_female_adv_pet, longest_case2017_female_adv_pet, longest_case2018_female_adv_pet]

In [87]:
result_df2 = pd.concat(frames3)
final_data = [result_df, result_df1, result_df2]
final_df = pd.concat(final_data)

In [88]:
maximu_duration_pet = final_df['duration'].max()

NameError: name 'maximum_duration' is not defined

In [91]:
print('Maximum days female advocate petitioned',maximu_duration_pet.days)

Maximum days female advocate petitioned 33218